html,
body {
  padding: 0;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.video-js.vjs-http-source-selector {
  display: block;
}

/* Custom Skin */

.video-js.vjs-paused > button.vjs-big-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  border-radius: 100%;
}
.video-js.vjs-paused > button.vjs-big-play-button:hover,
.video-js.vjs-paused > button.vjs-big-play-button:focus {
  transform: translate(-50%, -50%) scale(1.2);
}

.video-js.vjs-paused
  > button.vjs-big-play-button
  > span.vjs-icon-placeholder::before {
  position: absolute;
  top: 75%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.video-js > .vjs-control-bar {
  font-size: 1.5em;
}

.video-js > .vjs-control-bar > button.vjs-paused {
  color: red;
}
